<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>

    <!-- Bootstra + basic logic-->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#showSignUpBtn').on('click', function() {
                $('#signUpForm').removeClass('hidden');
                $('#loginForm').addClass('hidden');
            });

            $('#showLoginBtn').on('click', function() {
                $('#signUpForm').addClass('hidden');
                $('#loginForm').removeClass('hidden');
            });

            $('#addRoleBtn').on('click', function() {
                var input = $('<input>');
                var li = $('<li>').append(input);

                $('ul').append(li);
            });

            $('#btnSignUp').on('click', function() {
                var data;
                var roles = [];
                var roleList = $('ul#rele-list input');
                $.each(roleList, function(i, role) {
                    val = $(role).val();
                    if (val) roles.push(val);
                });

                var data = {
                    username: $('#signUpForm #userName').val(),
                    password: $('#signUpForm #password').val(),
                    roles: roles
                }

                debugger;
                $.ajax({
                    type: 'POST',
                    url: '/users',
                    data: data
                }).done(function(data) {
                    console.log(data);
                }).fail(function(err) {
                    console.log(err);
                });
            });

            /*Server comunication*/
            $('#loginBtn').on('click', function() {
                var data = {
                    username: $('#loginForm #userName').val(),
                    password: $('#loginForm #password').val()
                }

                $.ajax({
                    type: 'POST',
                    url: '/login',
                    data: data
                }).done(function(data) {
                    window.location = '/users';
                }).error(function(err) {
                    $('#loginForm #messages').text(err.responseText);
                });

                // $.ajax({
                //     type: 'POST',
                //     url: '/login',

                //     data: data
                // }).done(function(data) {
                //     console.log(data);
                // }).fail(function(err) {
                //     console.log(err);
                // });
            });

        });
    </script>

    <!-- Bootstrap + basic styling -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            padding: 25px;
        }

        .form-login {
            background-color: #EDEDED;
            padding: 10px 20px 10px;
            border-radius: 5px;
            border-width: 5px;
        }

        h4 {
            border:0 solid #fff;
            border-bottom-width:1px;
            padding-bottom:10px;
            text-align: center;
        }

        .form-control { border-radius: 5px; }
        .wrapper { text-align: center; }
        .error { color: red;}
    </style>
</head>
<body>
<div class="container">

    <!-- Sign in form -->
    <div id="loginForm" class="row">
        <div class="col-md-offset-5 col-md-3">
            <div class="form-login">
            <h4>Users loigin</h4>
            <input type="text" id="userName" class="form-control input-sm chat-input" placeholder="username" />
            </br>
            <input type="password" id="password" class="form-control input-sm chat-input" placeholder="password" />
            <span id="messages" class="error"></span>
            </br>
            <div class="wrapper">
            <span class="group-btn">
                <a href="#" id="loginBtn" class="btn btn-primary btn-md">Login</i></a>
            </span>
            </div>
            </div>
        </div>
        <div class="col-md-offset-5 col-md-3">
            <div >Dont you have an user?, create an account, its free!</div>
            <button type="button" id="showSignUpBtn" class="btn btn-primary btn-block">Sing up</button>
        </div>
    </div>

    <!-- Sign up form -->
    <div id="signUpForm" class="row hidden">
        <div class="col-md-offset-5 col-md-3">
            <div class="form-login">
            <h4>New user</h4>
            <input type="text" id="userName" class="form-control input-sm chat-input" placeholder="username" />
            </br>
            <input type="password" id="password" class="form-control input-sm chat-input" placeholder="password" />
            </br>
                <div>
                    Add the necessary roles<button id="addRoleBtn" type="button" class="btn btn-sm btn-primary"><i>+</i></button>
                    <ul id="rele-list" class="list-unstyled">
                        <li><input type="text"></li>
                    </ul>
                </div>
            <div class="wrapper">
            <span class="group-btn">
                <button type="button" id="btnSignUp" class="btn btn-primary btn-md">Accept</i></button>
            </span>
            </div>
            </div>
        </div>
        <div class="col-md-offset-5 col-md-3">
            <button type="button" id="showLoginBtn" class="btn btn-primary btn-block">Return</button>
        </div>
    </div>
</div>

</body>
</html>
