<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

</head>
<body>
<div class="row">
    <div class="col-xs-8 col-xs-offset-2">
        <h2>The users room!</h2>
        <ul class="list-unstyled">
            <li>Click on a line to add roles</li>
            <li>Use 'back' button of your browser to get back</li>
        </ul>
        <div id="main-container"></div>
    </div>
</div>
<script data-main="/main.js" src="/requirejs/require.js"></script>
</body>
</html>
